<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lakercompany.adventure_war">
    setRequestedOrientation(ActivityInfo.SCREEN_ORIENTATION_LANDSCAPE);
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:name="lakercompany.adventure_war.mAplication.MyApplication">


        <activity android:name="com.vk.sdk.VKServiceActivity" android:label="ServiceActivity" android:theme="@style/VK.Transparent" />

        <activity android:name="lakercompany.adventure_war.Activnosty.FirstMenuClass"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="lakercompany.adventure_war.Activnosty.HeroChooser"
            android:screenOrientation="portrait"/>
        <activity android:name="lakercompany.adventure_war.Activnosty.InfoCreate"
            android:screenOrientation="portrait"/>
        <activity android:name="lakercompany.adventure_war.Activnosty.LogorReg"
            android:screenOrientation="portrait"/>
        <activity android:name="lakercompany.adventure_war.Activnosty.Fighting"
            android:screenOrientation="portrait"/>
        <activity android:name="lakercompany.adventure_war.Activnosty.MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyAJrlhPTImsbCqyPNSuN33hsYgEwArH0WU"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAJrlhPTImsbCqyPNSuN33hsYgEwArH0WU" />
    </application>

</manifest>